* {
	margin:0;
	padding: 0;
}

body {
	font-family: sans-serif;
	overflow-x: hidden;
	background-color: #FFF;

}

.wrapper {
  width: 100%;
  height: 40px;
  /*margin:0 auto;*/
}

.navs {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,121,255,1) 20%, rgba(0,142,255,1) 26%);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.navs ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navs a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 14px;
  margin-top: -10px;
}

/*Navbar*/
nav {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,121,255,1) 20%, rgba(0,142,255,1) 26%);
    display: flex;
    /*position: fixed;*/
    justify-content: space-around;
    /*padding: 20px 0;*/
    height: 90px;
    align-items: center;

}

nav .nav-logo {
    /*letter-spacing: 2px;*/
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    font-weight:bold;
    color: #fff;
    /*position: absolute;*/
}
nav .nav-logo img {
    width: 250px;
    height: 70px;
    margin-top:-20px;
}

nav .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95px;
    height: 30px;
    /*border:1px solid black;*/
    cursor: pointer;
    color: #fafafa;
}
nav .category .cat-name h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform:uppercase;
}
.dropmenu {
    position: relative;
    display: block;
    opacity: 0;
    left: 230px;
    /*padding:10px;*/
    margin-top: -10px;
}
.dropmenu .content-menu {
    display: inline-block;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    min-width: 250px;
    z-index: 3;
    border-radius: 3px;
    padding: 10px;
}
.dropmenu .content-menu ul {
    list-style-type: none;
    /*margin-left: 20px;*/
}

.dropmenu .content-menu ul li:hover {
    background-color: #E1D9D9;
    border-radius: 5px;
}
.dropmenu .content-menu ul li a {
    color: black;
    padding:10px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 15px;
}
.dropmenu.tampilmenu {
    display: block;
    opacity: 1;

}

nav .search input {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border:1px solid white;
    padding-left: 20px;
}
.menu_mobile {
    display: none;
}
.hamburger-menus {
    display: none;
}

.nav-bottom {
    display: none;
}
.fa-search {
    position: absolute;
    margin-left: -40px;
    opacity: 0.3;
    margin-top: 15px;
}

.icons {
    width:80px;
    height: 40px;
    /*border:1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons .icon-cart i, .favorite i {
    font-size: 20px;
    color:#fff;
}
.icon-cart .counter {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: orange;
    color: #fff;
    text-align: center;
    line-height: 25px;
    position: absolute;
    margin-top: -40px;
    margin-left:15px;
}

nav ul {
    display: flex;
    color: #ffffff;
    list-style-type: none;
    width: 16%;
    justify-content: space-between;

}

nav ul li a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    font-weight: 500;
}

nav ul .login-btn {
    width: 100px;
    height: 30px;
    border:1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
nav ul .login-btn:hover {
    background-color:#0E63C3;
    border:1px solid #0E63C3; 
}
nav ul .login-btn a, .reg-btn a {
    font-weight: bold;
    font-size: 12px;
    text-transform:uppercase;
}

nav ul .reg-btn {
    width: 100px;
    height: 30px;
    border:1px solid #0E63C3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #0E63C3;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

}
.menu-toggle input {
    position: absolute;
    width: 45px;
    height: 28px;
    opacity: 0;
    left:-8px;
    top:-5px;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}
.hamburger-menus {
    display: none;
}


.container {
	margin:50px;
}
.breadcumb {
	display: flex;
}


.body-content {
	display: flex;
	justify-content: space-between;
	margin-top:50px;
}

.body-content .body-left {
	width: 250px;
	/*height: 400px;*/
	/*border:1px solid black;*/
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.body-content .body-left .img-user {
	width: 200px;
	height: 180px;
	padding: 10px;
	box-sizing: border-box;
	border:1px solid #DED9D9;
	background-color: #D8DFE6;
	margin-bottom: 20px;
	border-radius:10px;
}
.body-content .body-left .img-user img {
	width: 150px;
	height: 150px;

}

.body-content .body-left .list {
	text-align: left;
	margin-top: 40px;
}
.body-content .body-left .list ul {
	list-style-type: none;
	/*line-height: 40px;*/
}
.body-content .body-left .list ul li {
	padding: 15px;
	box-sizing: border-box;
	border-top: 1px solid #EDEDED;
}
.body-content .body-left .list ul li a {
	text-decoration:none;
	font-size: 13px;
	color: #000;
}
/*.body-content .body-left .list ul li.active {
	width: 210px;
	height: 40px;
	border:1px solid black;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid blue;
}*/
.body-content .body-left .list ul li:hover {
	width: 210px;
	height: 49px;
	color:blue;
	border-left: 4px solid blue;
}

.body-content .body-left .list ul li:active {
	width: 210px;
	height: 49px;
	/*border:3px solid black;*/
	border-top: none;
	color:blue;
	border-right: none;
	border-bottom: none;
	border-left: 4px solid blue;
}
.body-content .body-right {
	width: 940px;
	border:1px solid #E7E2E2;
	padding: 20px;
	box-sizing: border-box;
}
.body-content .body-right h3 {
	text-transform: uppercase;
	font-size: 16px;
}
.body-content .body-right .orderan {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.body-content .body-right .orderan p {
	color: #F64E14;
	font-weight: bold;
}
.body-content .body-right .orderan h4 {
	width: 200px;
	height: 40px;
	background-color: blue;
	border-radius: 10px;
	text-align:center;
	line-height: 40px;
	cursor: pointer;

}
.body-content .body-right .orderan a {
	text-decoration:none;
	color: #fff;

}
.body-content .body-right table {
	width: 900px;
	margin-top: 20px;
}
.body-content .body-right table thead {
	text-align: left;
}
.body-content .body-right table td {
	height: 100px;
	line-height: 20px;

}
.body-content .body-right table td p {
	font-size: 14px;

}
.body-content .body-right .order-status {
	margin-top: 20px;
	border:1px solid #DCDBDB;
	box-sizing: border-box;
	padding: 20px;
}
.body-content .body-right .order-status img {
	width: 100px;
	height: 100px;
}
.body-content .body-right .order-status .item-order {
	display: flex;

}
.body-content .body-right .order-status .item-order .detail-item {
	margin-left: 50px;
	font-size: 14px;
	line-height: 20px;
}
.body-content .body-right .order-status .trace-order {
	margin-top: 20px;
}

.body-content .body-right .sent-process {
	width: 900px;
	border:1px solid #E6E6E6;
	margin-top: 20px;
	padding: 20px;
	box-sizing: border-box;
}
.footer {
	
	background-color: #332F2F;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.footer .kotak1 {
	padding: 10px;
}
.footer .kotak1 .title-footer {
	font-size: 18px;
	color: #fff;
}
.footer .kotak1 ul {
	margin-top: 20px;
}
.footer .kotak1 ul li {
	list-style: none;

}
.footer .fas {

}
.footer .sosmed .fab {
	margin:10px;
}
.footer .kotak1 ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

.footer .kotak1 p,span {
	font-size: 14px;
	margin-top: 20px;
	color: #fff;
}

.copyright {
	width:92%;
	height: 50px;
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 50px 0 50px;
	border-bottom: 2px solid blue;
}

/*responsive*/

@media screen and (max-width:768px) {

.wrapper {
  width: 100%;
  height: 30px;
  /*margin:0 auto;*/
}

.navs a {
  font-size: 12px;
}

/*Navbar*/

nav .nav-logo {
	display: none;
}

nav .category {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	/*border:1px solid black;*/
	cursor: pointer;
	color: #DEDCDC;
	font-size: 14px;
}
.dropmenu {
	position: absolute;
	opacity: 0;
	left: 130px;
	margin-top: -65px;
}
.dropmenu .content-menu {
	border-radius: 3px;

}
.dropmenu .content-menu:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top:12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 12px solid white;
	position: absolute;
	top: 10px;
	left: -12px;
}

.dropmenu .content-menu ul li:hover {
	background-color: #E7EFF8;
	border-radius: 5px;
}
.dropmenu .content-menu ul li a {
	color: black;
	padding:10px;
	display: block;
	text-decoration: none;
	font-size: 12px;
}
.dropmenu.tampilmenu {
	display: block;
	opacity: 1;

}

nav .search input {
	width: 300px;
	height: 30px;
	border-radius: 5px;
	
}


.icon-cart img {
	width: 20px;
	height: 20px;
}

.icon-cart .counter {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	line-height: 20px;
	margin-top: -35px;
	margin-left:13px;
	font-size: 12px;
}

nav ul {
	width: 130px;
	justify-content: space-between;

}

nav ul li a {
	text-decoration: none;
	color:#fff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

nav ul .login-btn {
	width: 55px;
	height: 30px;
	border:1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: transparent;


}
nav ul .login-btn:hover {
	background-color: blue;
	border:1px solid blue;
}

nav ul .reg-btn {
	width: 60px;
	height: 30px;
	border:1px solid green;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: green;
}

.container {
	margin:20px;
}
.breadcumb p {
	font-size: 14px;
}

.body-content {
	margin-top:20px;
}

.body-content .body-left {
	width: 120px;
	/*border:1px solid black;*/
}
.body-content .body-left .img-user {
	width: 80px;
	height: 80px;
	padding: 10px;
	box-sizing: border-box;
	border:1px solid #DED9D9;
	background-color: #D8DFE6;
	margin-bottom: 20px;
	border-radius:10px;
}
.body-content .body-left .img-user img {
	width: 60px;
	height: 60px;

}

.body-content .body-left h2 {
	font-size:12px;
	font-weight: bolder;
}
.body-content .body-left p {
	font-size:10px;
	color: blue;
}
.body-content .body-left small {
	font-size:10px;
	font-weight: bold;
}
.body-content .body-left .list {
	text-align: left;
	margin-top: 20px;
}
.body-content .body-left .list ul {
	margin-left:-10px;
	list-style-type: none;
	/*line-height: 40px;*/

}
.body-content .body-left .list ul li {
	width: 100px;
	border:1px solid black;
	padding: 10px;
	box-sizing: border-box;
	border-left: none;
	border-right: none;
	/*border-top: 1px solid #EDEDED;*/
}
.body-content .body-left .list ul li a {
	text-decoration:none;
	font-size: 12px;
	color: #000;
}

.body-content .body-left .list ul li:hover {
	width: 100px;
}

.body-content .body-left .list ul li:active {
	width: 100px;
	/*height: 49px;*/
	/*border:3px solid black;*/
	border-top: none;
	
}
.body-content .body-right {
	width: 580px;
}
.body-content .body-right h3 {
	font-size: 14px;
}

.body-content .body-right .orderan h4 {
	width: 150px;
	border-radius:5px;

}
.body-content .body-right .orderan a {
	text-decoration:none;
	color: #fff;
	font-size:14px;

}
.body-content .body-right table {
	width: 550px;
	margin-top: 30px;
}

.body-content .body-right table thead th {
	font-size:12px;

}

.body-content .body-right table td p {
	font-size: 12px;

}
.body-content .body-right table td h5 {
	text-align:center;
	color: red;
}
.body-content .body-right table td h3 {
	font-size:16px;
	text-align: center;
}
.body-content .body-right .order-status {
	margin-top: 20px;
	border:1px solid #DCDBDB;
	box-sizing: border-box;
	padding: 20px;
}
.body-content .body-right .order-status img {
	width: 100px;
	height: 100px;
}
.body-content .body-right .order-status .item-order {
	display: flex;

}
.body-content .body-right .order-status .item-order .detail-item {
	margin-left: 50px;
	font-size: 14px;
	line-height: 20px;
}
.body-content .body-right .order-status .trace-order {
	margin-top: 20px;
}

.body-content .body-right .sent-process {
	width: 540px;
	border:1px solid #E6E6E6;
	margin-top: 20px;
	padding: 20px;
	box-sizing: border-box;
}

.footer {
	
	background-color: #332F2F;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.footer .kotak1 {
	padding: 10px;
	/*border:1px solid white;*/
	width: 300px;
}
.footer .kotak1 .title-footer {
	font-size: 14px;
	color: #fff;
}
.footer .kotak1 ul {
	margin-top: 20px;
}
.footer .kotak1 ul li {
	list-style: none;
	font-size:12px;

}
.footer .fas {
	color:#E5E2E2;
}
.footer .sosmed .fab {
	margin:10px;
	color:#E5E2E2;
}
.footer .kotak1 ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
}

.footer .kotak1 p,span {
	font-size: 12px;
	margin-top: 20px;
	color: #fff;
}



}


/*Mobile View*/
@media screen and (max-width:576px) {
.wrapper {
  display: none;
}

/*Navbar*/
nav {
  top: 0;
  width: 100%;
  position: fixed;
  background: #ffff;
  height: 60px;
  /*border:1px solid black ;*/
  z-index: 98;
  box-shadow: 0 2px 3px rgba(0,0,0,.35);

}

nav .nav-logo {
	margin-top:15px;
  /*position: absolute;*/
  display: flex;
  color: #000;
  font-size: 20px;
  /*margin-left:-210px;*/
}

nav .category {
  display: none;
  
}
nav .search {
  /*display: none;*/
  position: relative;
  /*margin-left:50px;*/
  margin-right: 20px;
}
nav .search input {
  /*display: flex;*/
  width: 320px;
  height: 35px;
  border:1px solid #bbb;
  border-radius: 5px;
  /*border:1px solid white;*/
  padding-left: 10px;
  /*margin-left:5px;*/
}
.fa-search {
  position: absolute;
  margin-top: 10px;
  margin-left: -30px;
  opacity: 0.3;

}
.icon-cart {
  display: none;

}

nav ul {
  display: none;
  
}


.hamburger {
  margin-left:10px;
  display: flex;
  width: 30px;
  height: 30px;
  /*border:1px solid black;*/
  align-items: center;
  /*position: absolute;*/
  /*margin-left:250px;*/
  cursor: pointer;
}
.closed {
  transform: translate(-300px);
  transition:0.5s ease-in-out;
}
.hamburger img {
  width: 25px;
  height: 25px;
}
.hamburger-menus {
  /*opacity: 0;*/
  position: absolute;
  display: none;
  width: 250px ;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  /*border:1px solid black;*/
  box-sizing: border-box;
  background: white;
  box-shadow: 0 2px 3px rgba(0,0,0,.15);
  z-index: 99;
  padding: 20px;
  /*margin-top:200px;*/
}
.hamburger-menus .logo-menu {
  width: 90px;
  height: 30px;
  /*border:1px solid black;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  cursor: pointer;
}
.hamburger-menus .logo-menu img {
  width: 20px;
  height: 20px;
}
.hamburger-menus .logo-menu h3 {
  font-size:15px;
}
.hamburger-menus .menu1, .menu2, .menu3, .menu4{
  list-style: none;
  color: #000;
  margin-bottom:15px;
  line-height: 30px;
}
.hamburger-menus .menu1 li:nth-child(1) {
  width: 210px;
  height: 30px;
  border:1px solid #E8E8E8;
  text-align:center;
  line-height: 30px;
}
.hamburger-menus .menu1 li:nth-child(2) {
  width: 210px;
  height: 30px;
  border:1px solid #E8E8E8;
  margin-top: 5px;
  text-align:center;
  line-height: 30px;
}
.hamburger-menus .menu1 li:hover {
  background-color: #DDDADA;
}
.hamburger-menus .menu1 li a {
  color: #000;
  text-decoration: none;
  color:#2A2929;
  font-size:13px;
  line-height: 25px;
  text-transform: uppercase;
}
.hamburger-menus .menu2 {
  margin-top: 15px;
}
.hamburger-menus .menu2 li:hover{
  background-color: #DDDADA;
}
.hamburger-menus .menu2 li a {
  color: #000;
  text-decoration: none;
  color:#2A2929;
  font-size:13px;
  line-height: 25px;

}

.hamburger-menus .menu3 {
  margin-top: 15px;
}
.hamburger-menus .menu3 li:hover{
  background-color: #DDDADA;
}
.hamburger-menus .menu3 li a {
  color: #000;
  text-decoration: none;
  color:#2A2929;
  font-size:13px;
  line-height: 25px;

}
.hamburger-menus .menu4 {
  margin-top: 15px;
}
.hamburger-menus .menu4 li:hover{
  background-color: #DDDADA;
}
.hamburger-menus .menu4 li a {
  color: #000;
  text-decoration: none;
  color:#2A2929;
  font-size:13px;
  line-height: 25px;

}


.container {
	margin-top:30px;
}
.breadcumb {
	display: none;
}


.body-content {
	display: block;
	/*justify-content: space-between;*/
	margin-top:50px;
}

.body-content .body-left {
	width: 510px;
	/*height: 400px;*/
	/*border:1px solid black;*/
	
}
.body-content .body-left .text-bio {
	margin-top:-75px;
	/*border:1px solid black;*/
	width: 300px;
	margin-left: 90px;
}
.body-content .body-left .img-user {
	width: 70px;
	height: 70px;
	
}
.body-content .body-left .img-user img {
	width: 50px;
	height: 50px;

}

.body-content .body-left .list {
	text-align: center;
	margin-top: 20px;
}
.body-content .body-left .list ul {
	width: 485px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	/*border:1px solid black;*/
	/*line-height: 40px;*/
}
.body-content .body-left .list ul li {
	width: 120px;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid #EDEDED;
}
.body-content .body-left .list ul li a {
	/*text-decoration:none;*/
	font-size: 11px;
	/*color: #000;*/
	text-transform: uppercase;
}
/*.body-content .body-left .list ul li.active {
	width: 210px;
	height: 40px;
	border:1px solid black;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid blue;
}*/
.body-content .body-left .list ul li:hover {
	background-color: #EEE9E9;
	border:none;
	width: 120px;
}

.body-content .body-left .list ul li:active {
	background-color: #CCDEF4;
}
.body-content .body-right {
	width: 510px;
	margin-bottom: 70px;
}
.body-content .body-right h3 {
	/*text-transform: uppercase;*/
	font-size: 13px;
}
.body-content .body-right .orderan p {
	font-size: 14px;
}
.body-content .body-right .orderan h4 {
	width: 150px;
	height: 30px;
	/*background-color: blue;*/
	border-radius: 5px;
	line-height: 30px;

}
.body-content .body-right .orderan a {
	text-decoration:none;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;

}
.body-content .body-right table {
	width: 470px;
	margin-top: 20px;
	border:1px solid #ECE8E8;
}
.body-content .body-right table thead th {
	text-align: left;
	font-size: 10px;
}
.body-content .body-right table td {
	height: 100px;
	line-height: 20px;
	font-size: 14px;
	text-align: left;

}
.body-content .body-right table td p {
	font-size: 10px;

}
.body-content .body-right .order-status {
	margin-top: 20px;
	border:1px solid #DCDBDB;
	box-sizing: border-box;
	padding: 20px;
}
.body-content .body-right .order-status img {
	width: 70px;
	height: 70px;
}

.body-content .body-right .order-status .item-order .detail-item {
	font-size: 12px;
}

.body-content .body-right .sent-process {
	width: 470px;
	/*border:1px solid #E6E6E6;*/
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	box-sizing: border-box;
}


/*Bottom navigator  */

.nav-bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color: #fff;
    /*overflow-x: auto;*/
    box-sizing: border-box;
    z-index: 99999999;

  }

  .nav-bottom .link_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
    transition:background-color 0.1s ease-in-out;

    white-space: nowrap;
  }
  .nav-bottom .nav__text {
    color: #000;
    font-size: 12px;

  }

  .nav-bottom .link_nav:hover {
    background-color: #eee;
  }

  .nav-bottom .link_nav--active {
    color: #009578;
  }  

  .nav-bottom .link_nav .fas {
     font-size: 20px;
     margin-top:-8px;
     position: absolute;

  }

  .nav-bottom .link_nav .nav__text {
    /*position: absolute;*/
    margin-bottom:-15px;
  }
.footer {
  display: none;
}
}

@media (max-width:375px) {

  .wrapper {
  display: none;
}

/*Navbar*/
nav {
  top: 0;
  width: 358px;
  position: fixed;
  background: #ffff;
  height: 130px;
  /*border:1px solid black ;*/
  z-index: 98;
  box-shadow: 0 2px 3px rgba(0,0,0,.35);

}

nav .nav-logo {
  position: absolute;
  margin-left:110px;
  margin-top:30px;
}


nav .search {
  position: relative;
  margin-right: 0;
}
nav .search input {
  /*display: flex;*/
  position: absolute;
  width: 300px;
  height: 35px;
  border:1px solid #bbb;
  border-radius: 5px;
  padding-left: 10px;
  margin:-50px 5px 10px -50px;
}
.fa-search {
  position: absolute;
  margin-top: -40px;
  margin-left: 230px;
}

nav ul {
  display: none;
  
}


.menu_mobile {
  margin:30px 0 0 -105px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 30px;
  /*border:1px solid black;*/
  align-items: center;
  position: absolute;
  cursor: pointer;
}
.closed {
  transform: translate(-300px);
  transition:0.5s ease-in-out;
}
.menu_mobile img {
  width: 25px;
  height: 25px;
}
.menu_mobile h4 {
  font-size: 13px;
  text-transform:uppercase;
}

.container {
	margin-top:150px;
}
.breadcumb {
	display: none;
}

.body-content {
	display: block;
	/*justify-content: space-between;*/
	margin-top:50px;
	background-color: orange;


}

.body-content .body-left {
	width: 320px;
	/*height: 400px;*/
	border:1px solid black;
	
}
.body-content .body-left .text-bio {
	margin-top:-75px;
	/*border:1px solid black;*/
	width: 300px;
	margin-left: 90px;
}
.body-content .body-left .img-user {
	width: 70px;
	height: 70px;
	
}
.body-content .body-left .img-user img {
	width: 50px;
	height: 50px;

}

.body-content .body-left .list {
	text-align: center;
	margin-top: 20px;
}
.body-content .body-left .list ul {
	width: 485px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	/*border:1px solid black;*/
	/*line-height: 40px;*/
}
.body-content .body-left .list ul li {
	width: 120px;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid #EDEDED;
}
.body-content .body-left .list ul li a {
	/*text-decoration:none;*/
	font-size: 11px;
	/*color: #000;*/
	text-transform: uppercase;
}
/*.body-content .body-left .list ul li.active {
	width: 210px;
	height: 40px;
	border:1px solid black;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid blue;
}*/
.body-content .body-left .list ul li:hover {
	background-color: #EEE9E9;
	border:none;
	width: 120px;
}

.body-content .body-left .list ul li:active {
	background-color: #CCDEF4;
}
.body-content .body-right {
	width: 510px;
	margin-bottom: 70px;
}
.body-content .body-right h3 {
	/*text-transform: uppercase;*/
	font-size: 13px;
}
.body-content .body-right .orderan p {
	font-size: 14px;
}
.body-content .body-right .orderan h4 {
	width: 150px;
	height: 30px;
	/*background-color: blue;*/
	border-radius: 5px;
	line-height: 30px;

}
.body-content .body-right .orderan a {
	text-decoration:none;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;

}
.body-content .body-right table {
	width: 470px;
	margin-top: 20px;
	border:1px solid #ECE8E8;
}
.body-content .body-right table thead th {
	text-align: left;
	font-size: 10px;
}
.body-content .body-right table td {
	height: 100px;
	line-height: 20px;
	font-size: 14px;
	text-align: left;

}
.body-content .body-right table td p {
	font-size: 10px;

}
.body-content .body-right .order-status {
	margin-top: 20px;
	border:1px solid #DCDBDB;
	box-sizing: border-box;
	padding: 20px;
}
.body-content .body-right .order-status img {
	width: 70px;
	height: 70px;
}

.body-content .body-right .order-status .item-order .detail-item {
	font-size: 12px;
}

.body-content .body-right .sent-process {
	width: 470px;
	/*border:1px solid #E6E6E6;*/
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	box-sizing: border-box;
}


/*Bottom navigator  */

.nav-bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color: #fff;
    /*overflow-x: auto;*/
    box-sizing: border-box;
    z-index: 99999999;

  }

  .nav-bottom .link_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
    transition:background-color 0.1s ease-in-out;

    white-space: nowrap;
  }
  .nav-bottom .nav__text {
    color: #000;
    font-size: 12px;

  }

  .nav-bottom .link_nav:hover {
    background-color: #eee;
  }

  .nav-bottom .link_nav--active {
    color: #009578;
  }  

  .nav-bottom .link_nav .fas {
     font-size: 20px;
     margin-top:-8px;
     position: absolute;

  }

  .nav-bottom .link_nav .nav__text {
    /*position: absolute;*/
    margin-bottom:-15px;
  }
.footer {
  display: none;
}
}